body{
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #66CCFF;
}

 h1, h3{
    margin: 0;
}

h2{
    margin: 0;
    text-align: center;
}

.TextWrap{
    float: left;
    margin: 10px;
}

#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
    /* border-top: 1px solid black;  */

}

#nav {
    width: 180px;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    
}

#nav .selected{
    font-weight: bold;
}

#main{
    width: 600px;
    float: right;
}

#footer{
    clear: both;
    padding: 15px;
    background-color: #66CCFF;
    color: white;
    text-align: center;
}
